$background-color: #1da1f2;

@import url('https://fonts.googleapis.com/css?family=Cinzel');

* {
     box-sizing: border-box;
}

body {
     background-color: $background-color;
     font-family: 'Cinzel', Arial, sans-serif;

     h1 {
          text-align: center;
     }
     
     #footer {

          #copyright {
               position: fixed;
               bottom: 10px;
               left: 10px;
               color: #fff;
          }

          #footer-link {
               position: fixed;
               bottom: 10px;
               right: 10px;
               color: #fff;

               &:hover {
                    color: #fff;
               }
          }

     }

}
